= semantic_form_for 'user', url: login_path do |f|
  = f.input :email, item_wrapper_class: 'asdfas'
  = f.input :password
  = f.submit 'Login'
  = link_to 'sign up', new_user_path, id: 'signup', class: 'btn alt blue'
