<!DOCTYPE html>
<html ng-app="recipes">
<head>
  <base href="/">
  <title>Recipes</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= action_id %>>
  <header>
    <%= render partial: 'shared/header' %>
  </header>
  <section id="main" class='col-container'>
    <%= yield %>
    <div id="main_footer"></div>
  </section>
  <footer>
    <%= render partial: 'shared/footer' %>
  </footer>
</body>
</html>
